body {
  font-family: Arial, sans-serif;
  color: #000; /* Change text color to black */
}

.login-container {
  width: 300px;
  padding: 20px;
  margin: 50px auto;
  background-color: #030303;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #000; /* Change text color to black */
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
  color: #000; /* Change text color to black */
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-bottom: 15px;
  font-size: 12px;
}

.register-link {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
